<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [standard, hero, engineer]"/>
    <rosparam file="$(find rm_config)/config/rm_track/$(arg robot_type).yaml" command="load"/>

    <node pkg="nodelet" type="nodelet" name="lower_processor"
          args="load rm_digtialimg_proc/Processor lower_vision_nodelet">
        <rosparam file="$(find rm_digtialimg_proc)/config/weibull_coefficient.yaml" command="load"/>
        <rosparam file="$(find rm_digtialimg_proc)/config/make_dataset.yaml" command="load"/>
        <rosparam file="$(find rm_digtialimg_proc)/config/armor_coefficient.yaml" command="load"/>
        <rosparam file="$(find rm_digtialimg_proc)/config/preprocess_coefficient.yaml" command="load"/>
        <remap from="/processor/result_msg" to="/lower_processor/result_msg"/>
        <remap from="debug_image" to="lower_debug_image"/>
        <remap from="/galaxy_camera/image_raw" to="/galaxy_camera/lower_camera/image_raw"/>
    </node>

    <node pkg="rm_pose_solver" type="pose_solver_node" name="lower_pose_solver_node" output="screen">
        <rosparam file="$(find rm_pose_solver)/config/pose_solver_config.yaml" command="load"/>
        <remap from="/processor/result_msg" to="/lower_processor/result_msg"/>
        <remap from="/galaxy_camera/camera_info" to="/galaxy_camera/lower_camera/camera_info"/>
        <remap from="/detection" to="/detection"/>
    </node>

    <!--    <node pkg="nodelet" type="nodelet" name="upper_processor"-->
    <!--          args="load rm_digtialimg_proc/Processor upper_vision_nodelet">-->
    <!--        <rosparam file="$(find rm_digtialimg_proc)/config/weibull_coefficient.yaml" command="load"/>-->
    <!--        <rosparam file="$(find rm_digtialimg_proc)/config/make_dataset.yaml" command="load"/>-->
    <!--        <rosparam file="$(find rm_digtialimg_proc)/config/armor_coefficient.yaml" command="load"/>-->
    <!--        <rosparam file="$(find rm_digtialimg_proc)/config/preprocess_coefficient.yaml" command="load"/>-->
    <!--        <remap from="/processor/result_msg" to="/upper_processor/result_msg"/>-->
    <!--        <remap from="debug_image" to="upper_debug_image"/>-->
    <!--        <remap from="/galaxy_camera/image_raw" to="/galaxy_camera/upper_camera/image_raw"/>-->
    <!--    </node>-->

    <!--    <node pkg="rm_pose_solver" type="pose_solver_node" name="upper_pose_solver_node" output="screen">-->
    <!--        <rosparam file="$(find rm_pose_solver)/config/pose_solver_config.yaml" command="load"/>-->
    <!--        <remap from="/processor/result_msg" to="/upper_processor/result_msg"/>-->
    <!--        <remap from="/galaxy_camera/camera_info" to="/galaxy_camera/upper_camera/camera_info"/>-->
    <!--        <remap from="/detection" to="/detection"/>-->
    <!--    </node>-->

    <node name="rm_track" pkg="rm_track" type="rm_track" respawn="false"/>
</launch>
