<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [standard, hero, engineer]"/>
    <arg name="camera_type" default="$(env CAMERA_TYPE)" doc="Camera type"/>
    <arg name="camera_name" default="camera"/>
    <rosparam file="$(find armor_processor)/config/processor_config.yaml" command="load"/>

    <node pkg="nodelet" type="nodelet" name="Processor"
          args="load rm_digtialimg_proc/Processor vision_nodelet">
        <rosparam file="$(find rm_digtialimg_proc)/config/weibull_coefficient.yaml" command="load"/>
        <rosparam file="$(find rm_digtialimg_proc)/config/make_dataset.yaml" command="load"/>
        <rosparam file="$(find rm_digtialimg_proc)/config/armor_coefficient.yaml" command="load"/>
        <rosparam file="$(find rm_digtialimg_proc)/config/preprocess_coefficient.yaml" command="load"/>
        <remap from="/processor/result_msg" to="/processor/result_msg"/>
        <remap from="debug_image" to="debug_image"/>
        <remap from="/galaxy_camera/image_raw" to="/$(arg camera_type)/$(arg camera_name)/image_raw"/>
    </node>

    <node pkg="rm_pose_solver" type="pose_solver_node" name="pose_solver_node" output="screen">
        <rosparam file="$(find rm_pose_solver)/config/pose_solver_config.yaml" command="load"/>
        <remap from="/processor/result_msg" to="/processor/result_msg"/>
        <remap from="/galaxy_camera/camera_info" to="/$(arg camera_type)/$(arg camera_name)/camera_info"/>
        <remap from="/detection" to="/detection"/>
    </node>

    <node name="armor_processor" pkg="armor_processor" type="armor_processor" respawn="false"/>

    <node pkg="nodelet" type="nodelet" name="forecast"
        args="load rm_forecast/Forecast_Node vision_nodelet" >
        <rosparam file="$(find rm_forecast)/config/forecast.yaml" command="load" />
        <rosparam file="$(find rm_forecast)/config/camera.yaml" command="load" />
       <remap from="/hk_camera/image_raw" to="/$(arg camera_type)/$(arg camera_name)/image_raw"/>
    </node>

<!--     <include file="$(find buff_vision)/launch/buff_nodelet.launch"/> -->

    <include file="$(find windmill)/launch/windmill.launch"/>
</launch>
