<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [standard, hero, engineer]"/>
    <arg name="ekf" default="false"/>
    <arg name="odom_tf" default="true"/>
    <arg name="balance" default="false"/>

    <rosparam file="$(find rm_config)/config/rm_controllers/$(arg robot_type).yaml" command="load"/>
    <rosparam file="$(find rm_config)/config/rm_manual/$(arg robot_type).yaml" command="load"/>

    <group if="$(arg balance)">
        <param name="taskFile" value="$(find rm_balance_control)/config/mpc/task.info"/>
        <param name="libFolder" value="$(find rm_balance_control)/auto_generated"/>
    </group>

    <node name="rm_manual" pkg="rm_manual" type="rm_manual" respawn="false"/>

    <node if="$(arg ekf)" pkg="robot_localization" type="ekf_localization_node" name="ekf_localization"
          clear_params="true">
        <rosparam command="load" file="$(find rm_chassis_controllers)/config/localization.yaml"/>
    </node>
</launch>
