<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="verbose" default="true"/>
  <!--模型车的起点放置位置-->
  <arg name="x_pos" default="8"/>
  <arg name="y_pos" default="6"/>
  <arg name="z_pos" default="0.5"/>
  <arg name="R_pos" default="0"/>
  <arg name="P_pos" default="0"/>
  <arg name="Y_pos" default="0"/>
  <arg name="World" default="rmuc"/>
  <arg name="is_open_rviz" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="false"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="world_name" value="$(find ma_simulation)/worlds/$(arg World).world"/>
  </include>    

  <!-- Load dobot model -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find ma_simulation)/urdf/base_car.urdf.xacro'" /> 
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-unpause -urdf -param robot_description -model mobile_base -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)" respawn="false" />

  <!-- Load controller -->
  <rosparam file="$(find ma_simulation)/config/ma_sentry_urdf.yaml" command="load" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

</launch>