<launch>
  <arg name="local_planner" default="dwb" doc="Local planner can be either dwa, dwb, eband, base, teb or pose" />

    <include file="$(find mir_navigation)/launch/move_base.xml">
      <arg name="local_planner" value="$(arg local_planner)"/>
      <arg name="with_virtual_walls" value="$(arg with_virtual_walls)" />
      <arg name="prefix" value="$(arg prefix)" />
    </include>




    <include file="$(find mir_navigation)/launch/move_base.xml">
      <arg name="local_planner" value="$(arg local_planner)"/>
      <arg name="with_virtual_walls" value="$(arg with_virtual_walls)" />
      <arg name="prefix" value="$(arg prefix)" />
    </include>

</launch>