<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [standard, hero, engineer]"/>

    <rosparam file="$(find rm_config)/config/rm_controllers/$(arg robot_type).yaml" command="load"/>
    <rosparam file="$(find rm_config)/config/rm_manual/$(arg robot_type).yaml" command="load"/>

    <node name="rm_manual" pkg="rm_manual" type="rm_manual" respawn="false"/>

</launch>
