<launch>
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find ma_sentry_bringup)/config
          -configuration_basename demo_3d.lua"
      output="screen">
    <remap from="points2_2" to="/cloud_registered" />
    <remap from="imu" to="/body" />
    <remap from="odom" to="/body" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
</launch>
