<?xml verison="1.0" ?>
<launch>

    <!-- Alter pointcloud2 into laser scan -->
    <include file="$(find pointcloud_to_laserscan)/launch/point_to_scan.launch " />

    <!-- Launch Gmapping node -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">

        <!-- Map update interval in seconds -->
        <param name="map_update_interval" value="5.0" />

        <!-- Map resolution in meters/pixel -->
        <param name="map_update_interval" value="0.05" />

        <!-- Maximum range of the laser in meters -->
        <param name="maxUrange" value="10.0" />

        <!-- Minimum range of the laser in meters -->
        <param name="maxRange" value="0.3" />

        <!-- Minimum number of particles -->
        <param name="particles" value="30" />

        <!-- odom_frame -->
        <param name="odom_frame" value="" />

        <!-- base_frame -->
        <param name="base_link" value="" />

    </node>



</launch>
