<launch>
  <arg name="sentry_robot" />

  <!-- <param name="robot_description" command="$(find xacro)/xacro $(find rm_description)/urdf/$(arg robot_type)/$(arg robot_type).urdf.xacro
    load_chassis:=$(arg load_chassis) load_gimbal:=$(arg load_gimbal) load_shooter:=$(arg load_shooter)
    load_arm:=$(arg load_arm)
    use_simulation:=true roller_type:=$(arg roller_type)"/> -->

  <param name="robot_description" command="$(find xacro)/xacro $(find ma_sentry_urdf)/urdf/ma_sentry.urdf.xacro"/>

  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui"
    output="screen" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"/>
</launch>