<launch>
    <param name="use_sim_time" value="true" />
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true" args="/map:=/prior_map /odom:=/state_estimation">
        <rosparam file="$(find ma_sentry_bringup)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find ma_sentry_bringup)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find ma_sentry_bringup)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find ma_sentry_bringup)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find ma_sentry_bringup)/config/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find ma_sentry_bringup)/config/global_planner_params.yaml" command="load" />
    </node>

    <node name="map_server" pkg="map_server" type="map_server" args="$(find ma_simulation)/map/rmuc.yaml" output="screen">
        <param name="frame_id" value="map" />
    </node>

    
    



    <!-- Alter long range route into sequential way points -->
    
    



</launch>